@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 5vh;
    gap: 0.3vw;
}


.pagination button{
    background: transparent;
    display: inline;
    border-color: transparent;
    border-radius: 2em;
    font-family: 'Unbounded', cursive;

}

.pagination button:hover {
    color: white;
    background: #440088;

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.active:active{
    background-color: rgb(11, 199, 32);
    border: 1px solid green;
}

