.search input[type=text]{
    width:300px;
    height:25px;
    border-radius:25px;
    border: none;

}
 
.search{
    position: relative;
    padding: 5px;
}
 
.button{
    width: 55px;
  height: 55px;
  line-height: 55px;
  top: 0;
  right: 0;
  background: #440088;
  text-align: center;
  color: white;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.buscar:hover input {
    width: 240px;
  }
  
  .buscar input:focus {
    width: 240px;
  }